*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid-antras{
    height: 100vh;
}


.kate{
    object-fit: cover;
}

.flexas{
    display: flex;
    flex-wrap: wrap;
}

.carusel-item img{
    object-fit: cover;
    object-position: center;
    height: 20em;
    overflow: hidden;
}

